@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
/*Fonte Roboto*/
@font-face {
    font-family: 'coluna';
    src: url(fonts/Coluna.otf) format('opentype');
}
/*Usar para H1*/

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8);
}

.topo {
    background-image: url(img/fundo-topo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100vw;
    height: 500px;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
        
}

#torta{
    width: 300px;
    height: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
}

.far{
    z-index: 3;
    color: #FFFFFF;
    padding: 5px;
    margin-top: 10px;
    
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 3;
    justify-content: space-between;
    align-items: center

    
}
#menu{
    display: flex;
    flex-direction: row;
    padding: 5px;
    
    
}
#menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    padding: 0 10px 0 10px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    align-items: baseline;
    margin: 10px; 

}

#logo{
    width: 150px;    
    display: flex;
    padding: 5px; 
    margin: 10px; 
       
}

.imagem-titulo {
    display: block;
    width: clamp(300px, 30%, 800px);
    
}

.produtos-titulo {
    grid-column: 1 / 3;
    height: 150px;
    width: 100%;
    padding: 2rem;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        
}

.produtos-categoria {
    background-color: #FFFFFF;
    height: 200px;
    grid-column: 1 / 3;
}

.imgprodutos{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#categoria-produto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

span{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    align-items: center;
    text-align: center;
    margin: 10px;

}

.produtos-cardapio {
    background-color: beige;
    height: 500px;
    grid-column: 1 / 3;
}

.produtos-cardapio img{
    width: 80px;
}

.historia-titulo {
    height: 300px;
    grid-column: 1 / 3;
}

.historia-imagem {
    background-color: red;
    height: 300px;
}

.historia-descricao {
    background-color: darkred;
    height: 300px;
}

.contato {
    background-color: #131313;
    height: min(900px, 70vh);
    padding: 2rem;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    height: min(800px, 70vh);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

input {
    border: 1px solid #bb2e2b;
    width: 100%;
    height: 2rem;
    padding: 1rem;
}

button {
    background-color: #bb2e2b; 
    padding: 10px 20px;  
    cursor: pointer; 
    border: 0px;
    height: 40px;
    color: white;
    transition:all .5s ease-in-out;
}

button:hover {
    background:white;
    color:#bb2e2b;
  
}

textarea {
    border: 1px solid #bb2e2b;
    width: 100%;
    height: 5rem;
    padding: 1rem;
}

.botao-contato {
    background-color: #bb2e2b; 
    padding: 10px 20px;  
    cursor: pointer; 
    height: 40px;
}

a.botao-contato {
    color: white;
}

.mapa-descricao {
    background-color: pink;;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#F5EFD4;
    height: min(900px, 60vh);
    padding: 30px;

}

.endereco{
    margin-right: 97px; 

}

.mapa {
    background-color: #F5EFD4;
    display: flex;
    height: min(900px, 60vh);
    padding: 25px;
    justify-content: center;
    align-items: center;
}

.footer {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-color: #131313;
    height: 80px;
    grid-column: 1 / 3;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.footer a{
    text-decoration: none;
    color: #FFFFFF;
}

@media (max-width: 800px) {
    .layout {
        display: flex;
        flex-direction: column;
    }

    .mapa-descricao { 
        height: min(200px, 60vh);
    }

    .mapa { 
        height: min(980px,60vh);
    }

    .google-map { 
        width: 100%;
        height: 75%;
    }
}