@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
/*Fonte Roboto*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: "Coluna";
    src: url('Coluna.otf');

    * { 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }
    
    body {
        min-height: 100vh;
        width: 100vw;
    }
    
    .layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8);
    }
    
    .topo {
        background-color: yellow;
        height: 300px;
        grid-column: 1 / 3;
    }
    
    .produtos-titulo {
        grid-column: 1 / 3;
        height: 300px;
    }
    
    .produtos-categoria {
        background-color: blue;
        height: 300px;
        grid-column: 1 / 3;
    }
    
    .produtos-cardapio {
        background-color: beige;
        height: 300px;
        grid-column: 1 / 3;
    }
    
    .historia-titulo {
        height: 300px;
        grid-column: 1 / 3;
    }
    
    .historia-imagem {
        background-color: red;
        height: 300px;
    }
    
    .historia-descricao {
        background-color: darkred;
        height: 300px;
    }
    
    .contato {
        background-color: black;
        height: 300px;
        grid-column: 1 / 3;
    }
    
    .mapa-descricao {
        background-color: pink;
        height: 300px;
    }
    
    .mapa {
        background-color: purple;
        height: 300px;
    }
    
    .footer {
        background-color: green;
        height: 300px;
        grid-column: 1 / 3;
    }
    
    @media (max-width: 800px) {
        .layout {
            display: flex;
            flex-direction: column;
        }
    }